<div class="row" *ngIf="addTable">

	<div class="col-md-4">

		<app-alert></app-alert>
		<div class="row" *ngIf="loading">
			<div class="col-md-12">
				<p style="color: green">
					<img src="assets/lib/theme/img/loaders/default.gif" /> Saving changes... Please wait..
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<!-- LOGIN WIDGET -->
				<form class="form-horizontal" [formGroup]="addTableForm" (submit)="tableSubmit()" novalidate>
					<div class="panel panel-default">
						<div class="panel-body">
							<h2>TimeTable</h2>
							<p>Upload new</p>
							<div class="form-group">
								<label class="col-md-3 control-label">Programme</label>
								<div class="col-md-9">
									<select title="stores" [class.invalid]="!addCourseForm.controls.programme_id.valid" [ngModel]="modalTimetable.programme_id" formControlName="programme_id" class="form-control">
										<option value="0" selected="selected" disabled >---------------------</option>
										<option *ngFor="let program of programmes" [ngValue]="program.id" >
											{{ program.name }}
										</option>
									</select>
									<span *ngIf="tableSubmitted && !addTableForm.controls.programme_id.valid" class="invalid">Select a programme</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Semester</label>
								<div class="col-md-9">
									<div class="input-group">
										<span class="input-group-addon"><span class="fa fa-edit"></span></span>
										<input [ngModel]="modalTimetable.semester" type="text" class="form-control" formControlName="semester" [class.invalid]="!addTableForm.controls.semester.valid"/>
									</div>
									<span *ngIf="tableSubmitted && !addTableForm.controls.semester.valid" class="invalid">Semester number is required</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Academic Year</label>
								<div class="col-md-9">
									<div class="input-group">
										<span class="input-group-addon"><span class="fa fa-calendar-o"></span></span>
										<input [ngModel]="modalTimetable.year" type="text" class="form-control" formControlName="year" [class.invalid]="!addTableForm.controls.year.valid" />
									</div>
									<span *ngIf="tableSubmitted && !addTableForm.controls.year.valid" class="invalid">Field is required</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Time Table upload (PDF)</label>
								<div class="col-md-9">
									<div class="input-group">
										<span class="input-group-addon"><span class="fa fa-file-image-o"></span></span>
										<input type="file" class="form-control" (change)="onFileChange($event)" accept="application/pdf" />
									</div>
								</div>
							</div>
						</div>
						<div class="panel-footer">
							<button type="reset" class="btn btn-default">Clear Form</button>
							<button type="submit" class="btn btn-primary pull-right">Submit</button>
						</div>
					</div>
				</form>
				<!-- END LOGIN WIDGET -->
			</div>
		</div>

	</div>

	<div class="col-md-8">
		<div class="row col-md-12 col-sm-12 col-lg-12" style="border-bottom: 1px solid dodgerblue; margin-bottom: 5px; padding-bottom: 10px">
			<form class="form-inline" [formGroup]="searchForm" (submit)="searchItems()" role="form" novalidate>
				Search: <input type="text" name="searchTerm" formControlName="search" placeholder="search with ACADEMIC YEAR"
							   class="form-control pull-right" (keydown)="searchItems()" />
			</form>
		</div>
		<div class="gallery" id="links">

			<a *ngFor="let table of tables" href="uploads/timetables/{{ table.file_name }}" class="gallery-item" title="{{ table.title }}" data-gallery>
				<div class="image">
					<img src="assets/icons/Acrobat-Professional.png" alt="{{ table.file_name }}"/>
					<ul class="gallery-item-controls">
						<li style="background: darkred" (click)="deleteTable(table)"><span><i class="fa fa-trash-o" style="color: #fff;"></i></span></li>
					</ul>
				</div>
				<div class="meta">
					<strong>{{ table.title }}</strong>
					<b>Academic Year: {{ table.year }}</b>
					<span>Semester: {{ table.semester }}</span>
				</div>
			</a>

			<a class="gallery-item" href="assets/icons/Acrobat-Professional.png" title="BSSE 2018" data-gallery>
				<div class="image">
					<img src="assets/icons/Acrobat-Professional.png" alt="BSSE 2018"/>
					<ul class="gallery-item-controls">
						<li style="background: darkred" (click)="deleteTable(tables[0])"><span><i class="fa fa-trash-o" style="color: #fff;"></i></span></li>
					</ul>
				</div>
				<div class="meta">
					<strong>BSSE</strong>
					<span>2018 SM-2</span>
				</div>
			</a>

			<a class="gallery-item" href="assets/icons/Acrobat-Professional.png" title="BSSE 2018" data-gallery>
				<div class="image">
					<img src="assets/icons/Acrobat-Professional.png" alt="BSSE 2018"/>
					<ul class="gallery-item-controls">
						<li style="background: darkred" (click)="deleteTable(tables[0])"><span><i class="fa fa-trash-o" style="color: #fff;"></i></span></li>
					</ul>
				</div>
				<div class="meta">
					<strong>BSSE</strong>
					<span>2018 SM-2</span>
				</div>
			</a>

			<a class="gallery-item" href="assets/icons/Acrobat-Professional.png" title="BSSE 2018" data-gallery>
				<div class="image">
					<img src="assets/icons/Acrobat-Professional.png" alt="BSSE 2018"/>
					<ul class="gallery-item-controls">
						<li style="background: darkred" (click)="deleteTable(tables[0])"><span><i class="fa fa-trash-o" style="color: #fff;"></i></span></li>
					</ul>
				</div>
				<div class="meta">
					<strong>BSSE</strong>
					<span>2018 SM-2</span>
				</div>
			</a>

			<a class="gallery-item" href="assets/icons/Acrobat-Professional.png" title="BSSE 2018" data-gallery>
				<div class="image">
					<img src="assets/icons/Acrobat-Professional.png" alt="BSSE 2018"/>
					<ul class="gallery-item-controls">
						<li style="background: darkred" (click)="deleteTable(tables[0])"><span><i class="fa fa-trash-o" style="color: #fff;"></i></span></li>
					</ul>
				</div>
				<div class="meta">
					<strong>BSSE</strong>
					<span>2018 SM-2</span>
				</div>
			</a>

			<a class="gallery-item" href="assets/icons/Acrobat-Professional.png" title="BSSE 2018" data-gallery>
				<div class="image">
					<img src="assets/icons/Acrobat-Professional.png" alt="BSSE 2018"/>
					<ul class="gallery-item-controls">
						<li style="background: darkred" (click)="deleteTable(tables[0])"><span><i class="fa fa-trash-o" style="color: #fff;"></i></span></li>
					</ul>
				</div>
				<div class="meta">
					<strong>BSSE</strong>
					<span>2018 SM-2</span>
				</div>
			</a>

			<a class="gallery-item" href="assets/icons/Acrobat-Professional.png" title="BSSE 2018" data-gallery>
				<div class="image">
					<img src="assets/icons/Acrobat-Professional.png" alt="BSSE 2018"/>
					<ul class="gallery-item-controls">
						<li style="background: darkred" (click)="deleteTable(tables[0])"><span><i class="fa fa-trash-o" style="color: #fff;"></i></span></li>
					</ul>
				</div>
				<div class="meta">
					<strong>BSSE</strong>
					<span>2018 SM-2</span>
				</div>
			</a>

		</div>
	</div>

</div>
