
<div class="row">
  <div class="col-md-4">

	  <app-alert></app-alert>

	  <div class="row" *ngIf="loading">
		  <div class="col-md-12">
			  <p style="color: green">
				  <img src="assets/lib/theme/img/loaders/default.gif" /> Saving changes... Please wait..
			  </p>
		  </div>
	  </div>

	  <div class="row">
		  <div class="col-md-12">
			  <!-- LOGIN WIDGET -->
			  <form class="form-horizontal" [formGroup]="addCourseForm" (submit)="courseSubmit()" novalidate>
				  <div class="panel panel-default">
					  <div class="panel-body">
						  <h2>Course</h2>
						  <p>Add a new course/Programme</p>
						  <div class="form-group">
							  <label class="col-md-3 control-label">Programme</label>
							  <div class="col-md-9">
								  <select title="stores" [class.invalid]="!addCourseForm.controls.programme_id.valid" [ngModel]="modalCourse.programme_id" formControlName="programme_id" class="form-control">
									  <option value="0" selected="selected" disabled >---------------------</option>
									  <option *ngFor="let program of programmes" [ngValue]="program.id" >
										  {{ program.name }}
									  </option>
								  </select>
								  <span *ngIf="courseSubmitted && !addCourseForm.controls.programme_id.valid" class="invalid">Select a programme for this course</span>
							  </div>
						  </div>
						  <div class="form-group">
							  <label class="col-md-3 control-label">Course Code</label>
							  <div class="col-md-9">
								  <div class="input-group">
									  <span class="input-group-addon"><span class="fa fa-qrcode"></span></span>
									  <input [ngModel]="modalCourse.code" type="text" class="form-control" formControlName="code" [class.invalid]="!addCourseForm.controls.code.valid" />
								  </div>
								  <span *ngIf="courseSubmitted && !addCourseForm.controls.code.valid" class="invalid">Course code is required</span>
							  </div>
						  </div>
						  <div class="form-group">
							  <label class="col-md-3 control-label">Course Name</label>
							  <div class="col-md-9">
								  <div class="input-group">
									  <span class="input-group-addon"><span class="fa fa-edit"></span></span>
									  <input [ngModel]="modalCourse.name" type="text" class="form-control" formControlName="name" [class.invalid]="!addCourseForm.controls.name.valid" />
								  </div>
								  <span *ngIf="courseSubmitted && !addCourseForm.controls.name.valid" class="invalid">Course name is required</span>
							  </div>
						  </div>
					  </div>
					  <div class="panel-footer">
						  <button type="reset" class="btn btn-default">Clear Form</button>
						  <button type="submit" class="btn btn-primary pull-right">Submit</button>
					  </div>
				  </div>
			  </form>
			  <!-- END LOGIN WIDGET -->
		  </div>
	  </div>

	  <div class="row">
		  <div class="col-md-12">
			  <div class="gallery">
				  <a class="gallery-item" href="assets/lib/theme/images/gallery/girls-3.jpg" title="Girls Image 3" data-gallery>
					  <div class="image">
						  <img src="assets/lib/theme/images/gallery/girls-3.jpg" alt="Girls Image 3"/>
						  <ul class="gallery-item-controls">
							  <li><label class="check"><input type="checkbox" class="icheckbox"/></label></li>
							  <li><span class="gallery-item-remove"><i class="fa fa-times"></i></span></li>
						  </ul>
					  </div>
					  <div class="meta">
						  <strong>Girls image 3</strong>
						  <span>Description</span>
					  </div>
				  </a>
				  <a class="gallery-item" href="assets/lib/theme/images/gallery/nature-1.jpg" title="Nature Image 1" data-gallery>
					  <div class="image">
						  <img src="assets/lib/theme/images/gallery/nature-1.jpg" alt="Nature Image 1"/>
						  <ul class="gallery-item-controls">
							  <li><label class="check"><input type="checkbox" class="icheckbox"/></label></li>
							  <li><span class="gallery-item-remove"><i class="fa fa-times"></i></span></li>
						  </ul>
					  </div>
					  <div class="meta">
						  <strong>Nature image 1</strong>
						  <span>Description</span>
					  </div>
				  </a>
				  <a class="gallery-item" href="assets/lib/theme/images/gallery/music-1.jpg" title="Music picture 1" data-gallery>
					  <div class="image">
						  <img src="assets/lib/theme/images/gallery/music-1.jpg" alt="Music picture 1"/>
						  <ul class="gallery-item-controls">
							  <li><label class="check"><input type="checkbox" class="icheckbox"/></label></li>
							  <li><span class="gallery-item-remove"><i class="fa fa-times"></i></span></li>
						  </ul>
					  </div>
					  <div class="meta">
						  <strong>Music picture 1</strong>
						  <span>Other description</span>
					  </div>
				  </a>
			  </div>
		  </div>
	  </div>

  </div>
  <div class="col-md-8">
	  <div class="row col-md-12 col-sm-12 col-lg-12" style="border-bottom: 1px solid dodgerblue; margin-bottom: 5px; padding-bottom: 10px">
		  <form class="form-inline" [formGroup]="searchForm" (submit)="searchItems()" role="form" novalidate>
			  Search: <input type="text" name="searchTerm" formControlName="search" placeholder="search college or course name"
							 class="form-control pull-right" (keydown)="searchItems()" />
		  </form>

	  </div>

	  <table class="table table-striped table-border table-hover">
		  <thead>
		  <tr>
			  <th>Course Code</th>
			  <th>Course Name</th>
			  <th>Proramme</th>
			  <th>Action</th>
		  </tr>
		  </thead>
		  <tbody>
		  <tr *ngFor="let course of courses">
			  <td>{{ course.code }}</td>
			  <td>{{ course.name }}</td>
			  <td>{{ course.programme_code }}</td>
			  <td>
				  <button (click)="editCourse(course)" class="btn btn-sm btn-rounded btn-success pull-left"><i class="fa fa-edit"></i></button>
				  <button (click)="deleteCourse(course)" class="btn btn-rounded btn-sm btn-danger center-block"><i class="fa fa-trash-o"></i></button>
			  </td>
		  </tr>
		  <tr>
			  <td>BSE 2301</td>
			  <td>System Architecture</td>
			  <td>COCIS</td>
			  <td>
				  <button (click)="editCourse(course)" class="btn btn-sm btn-rounded btn-success pull-left"><i class="fa fa-edit"></i></button>
				  <button (click)="deleteCourse(course)" class="btn btn-rounded btn-sm btn-danger center-block"><i class="fa fa-trash-o"></i></button>
			  </td>
		  </tr>
		  <tr>
			  <td>BSE 2301</td>
			  <td>System Architecture</td>
			  <td>COCIS</td>
			  <td>
				  <button (click)="editCourse(course)" class="btn btn-sm btn-rounded btn-success pull-left"><i class="fa fa-edit"></i></button>
				  <button (click)="deleteCourse(course)" class="btn btn-rounded btn-sm btn-danger center-block"><i class="fa fa-trash-o"></i></button>
			  </td>
		  </tr>
		  <tr>
			  <td>BSE 2301</td>
			  <td>System Architecture</td>
			  <td>COCIS</td>
			  <td>
				  <button (click)="editCourse(course)" class="btn btn-sm btn-rounded btn-success pull-left"><i class="fa fa-edit"></i></button>
				  <button (click)="deleteCourse(course)" class="btn btn-rounded btn-sm btn-danger center-block"><i class="fa fa-trash-o"></i></button>
			  </td>
		  </tr>
		  <tr>
			  <td>BSE 2301</td>
			  <td>System Architecture</td>
			  <td>COCIS</td>
			  <td>
				  <button (click)="editCourse(course)" class="btn btn-sm btn-rounded btn-success pull-left"><i class="fa fa-edit"></i></button>
				  <button (click)="deleteCourse(course)" class="btn btn-rounded btn-sm btn-danger center-block"><i class="fa fa-trash-o"></i></button>
			  </td>
		  </tr>
		  <tr>
			  <td>BSE 2301</td>
			  <td>System Architecture</td>
			  <td>COCIS</td>
			  <td>
				  <button (click)="editCourse(course)" class="btn btn-sm btn-rounded btn-success pull-left"><i class="fa fa-edit"></i></button>
				  <button (click)="deleteCourse(course)" class="btn btn-rounded btn-sm btn-danger center-block"><i class="fa fa-trash-o"></i></button>
			  </td>
		  </tr>
		  <tr>
			  <td>BSE 2301</td>
			  <td>System Architecture</td>
			  <td>COCIS</td>
			  <td>
				  <button (click)="editCourse(course)" class="btn btn-sm btn-rounded btn-success pull-left"><i class="fa fa-edit"></i></button>
				  <button (click)="deleteCourse(course)" class="btn btn-rounded btn-sm btn-danger center-block"><i class="fa fa-trash-o"></i></button>
			  </td>
		  </tr>
		  <tr>
			  <td>BSE 2301</td>
			  <td>System Architecture</td>
			  <td>COCIS</td>
			  <td>
				  <button (click)="editCourse(course)" class="btn btn-sm btn-rounded btn-success pull-left"><i class="fa fa-edit"></i></button>
				  <button (click)="deleteCourse(course)" class="btn btn-rounded btn-sm btn-danger center-block"><i class="fa fa-trash-o"></i></button>
			  </td>
		  </tr>
		  <tr>
			  <td>BSE 2301</td>
			  <td>System Architecture</td>
			  <td>COCIS</td>
			  <td>
				  <button (click)="editCourse(course)" class="btn btn-sm btn-rounded btn-success pull-left"><i class="fa fa-edit"></i></button>
				  <button (click)="deleteCourse(course)" class="btn btn-rounded btn-sm btn-danger center-block"><i class="fa fa-trash-o"></i></button>
			  </td>
		  </tr>

		  </tbody>
	  </table>

  </div>
</div>