<div class="row" *ngIf="addEvent">

	<div class="col-md-4 z-depth-3" >
		<app-alert></app-alert>

		<div class="row" *ngIf="loading">
			<div class="col-md-12">
				<p style="color: green">
					<img src="assets/lib/theme/img/loaders/default.gif" /> Saving changes... Please wait..
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<!-- LOGIN WIDGET -->
				<form class="form-horizontal" [formGroup]="addEventForm" (submit)="eventSubmit()" novalidate>
					<div class="panel panel-default">
						<div class="panel-body">
							<h2>Event</h2>
							<p>Add an event</p>
							<div class="form-group">
								<label class="col-md-3 control-label">Title</label>
								<div class="col-md-9">
									<div class="input-group">
										<span class="input-group-addon"><span class="fa fa-edit"></span></span>
										<input [ngModel]="modalEvent.title" type="text" class="form-control" formControlName="title" [class.invalid]="!addEventForm.controls.title.valid" />
									</div>
									<span *ngIf="eventSubmitted && !addEventForm.controls.title.valid" class="invalid">Title is required</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Sub Title</label>
								<div class="col-md-9">
									<div class="input-group">
										<span class="input-group-addon"><span class="fa fa-edit"></span></span>
										<input [ngModel]="modalEvent.subtitle" type="text" class="form-control" formControlName="subtitle"/>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Event Date</label>
								<div class="col-md-9">
									<div class="input-group">
										<span class="input-group-addon"><span class="fa fa-calendar-o"></span></span>
										<input [ngModel]="modalEvent.event_date" placeholder="YYYY-MM-DD" type="date" class="form-control" formControlName="event_date" [class.invalid]="!addEventForm.controls.event_date.valid" />
									</div>
									<span *ngIf="eventSubmitted && !addEventForm.controls.event_date.valid" class="invalid">Date is required</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Media File (Images)</label>
								<div class="col-md-9">
									<div class="input-group">
										<span class="input-group-addon"><span class="fa fa-file-image-o"></span></span>
										<input type="file" class="form-control" (change)="onFileChange($event)" accept="image/*" />
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Description</label>
								<div class="col-md-9">
									<div class="input-group">
										<textarea rows="4" [ngModel]="modalEvent.description" type="text" class="form-control" formControlName="description" [class.invalid]="!addEventForm.controls.description.valid" ></textarea>
									</div>
									<span *ngIf="eventSubmitted && !addEventForm.controls.description.valid" class="invalid">Description is required</span>
								</div>
							</div>
						</div>
						<div class="panel-footer" *ngIf="user!==null">
							<button type="reset" class="btn btn-default">Clear Form</button>
							<button type="submit" class="btn btn-primary pull-right">Submit</button>
						</div>
						<div class="panel-footer" *ngIf="user===null">
							<button type="button" (click)="emitLogin()" style="width: 100%" class="btn btn-danger btn-lg">
								Please Click <i class="fa fa-hand-o-right"></i> to logIn and post on the Board.<br>
								Click on th login link at the `TOP RIGHT CORNER`
							</button>
						</div>
					</div>
				</form>
				<!-- END LOGIN WIDGET -->
			</div>
		</div>

	</div>

	<div class="col-md-8" style="text-align: center; font-size: 18px; font-weight: bolder" *ngIf="events.length < 1">
		<div style="width: 100%; padding: 5px; text-align: center; font-weight: bolder; text-decoration: underline;">
			<h4><b>Events </b>
				<button style="margin-left: 20px" (click)="loadArchives()" class="btn btn-sm btn-danger"> Archived</button>
				<button style="margin-left: 20px" (click)="refreshEvents()" class="btn btn-sm btn-success"> New </button>
			</h4>
		</div>
		<em>`NOTICEBOARD` empty Events box.... </em>
	</div>

	<div class="col-md-8" *ngIf="events.length > 0">
		<div class="gallery" id="links">
			<div style="width: 100%; padding: 5px; text-align: center; font-weight: bolder; text-decoration: underline;">
				<h4><b>Events </b>
					<button style="margin-left: 20px" (click)="loadArchives()" class="btn btn-sm btn-danger"> Archived</button>
					<button style="margin-left: 20px" (click)="refreshEvents()" class="btn btn-sm btn-success"> New </button>
				</h4>
			</div>
			<a *ngFor="let event of events" class="gallery-item" title="{{ event.file_name }}" data-gallery>

				<div class="palaroid-1">
					<div class="image">
						<img *ngIf="event.file !== ''" class="thumbnail img-thumbnail" src="data:image/jpg;base64,{{ event.file }}" alt="{{ event.file_name }}" />
						<img *ngIf="event.file === ''" src="assets/icons/events.jpeg" alt="{{ event.file_name }}"/>
						<ul class="gallery-item-controls">
							<li style="background: green" data-toggle="modal" [attr.data-target]="'#modal_' + event.id"><span><i class="fa fa-book" style="color: #fff;"></i></span></li>
							<li style="background: darkred" *ngIf="user!==null && user.is_admin" (click)="deleteEvent(event)"><span><i class="fa fa-trash-o" style="color: #fff;"></i></span></li>
						</ul>
					</div>
					<div class="meta">
						<strong>Title: {{ event.title }}</strong>
						<strong>Subtitle: <i>{{ event.subtitle }}</i></strong>
						<b>Post date: {{ event.post_date }}</b>
					</div>
				</div>

				<div id="modal_{{ event.id }}" class="modal fade" role="dialog">
					<div class="modal-dialog">
						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h3 class="modal-title">{{ event.title }}</h3>
								<h5 class="modal-title">{{ event.subtitle }}</h5>
							</div>
							<div class="modal-body">
								<img *ngIf="event.file !== ''" width="300" height="200" src="data:image/jpg;base64,{{ event.file}}" alt="{{ event.file_name }}" >
								<img *ngIf="event.file === ''" width="100" height="100" src="assets/icons/events.jpeg" alt="{{ event.file_name }}"/>
								<p>{{ event.description }}</p>

								<span><b><h3>Posted By: {{ event.posted_by }}</h3></b></span>
								<span><b><h3>Happening On: {{ event.event_date }}</h3></b></span>
								<span>Posted On: {{ event.post_date }}</span>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
			</a>

		</div>
	</div>

</div>

