<div class="row" *ngIf="addEvent">

	<div class="col-md-4">
		<app-alert></app-alert>

		<div class="row" *ngIf="loading">
			<div class="col-md-12">
				<p style="color: green">
					<img src="assets/lib/theme/img/loaders/default.gif" /> Saving changes... Please wait..
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<!-- LOGIN WIDGET -->
				<form class="form-horizontal" [formGroup]="addEventForm" (submit)="eventSubmit()" novalidate>
					<div class="panel panel-default">
						<div class="panel-body">
							<h2>Event</h2>
							<p>Add an event</p>
							<div class="form-group">
								<label class="col-md-3 control-label">Title</label>
								<div class="col-md-9">
									<div class="input-group">
										<span class="input-group-addon"><span class="fa fa-edit"></span></span>
										<input [ngModel]="modalEvent.title" type="text" class="form-control" formControlName="title" [class.invalid]="!addEventForm.controls.title.valid" />
									</div>
									<span *ngIf="eventSubmitted && !addEventForm.controls.title.valid" class="invalid">Title is required</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Sub Title</label>
								<div class="col-md-9">
									<div class="input-group">
										<span class="input-group-addon"><span class="fa fa-edit"></span></span>
										<input [ngModel]="modalEvent.subtitle" type="text" class="form-control" formControlName="subtitle"/>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Event Date</label>
								<div class="col-md-9">
									<div class="input-group">
										<span class="input-group-addon"><span class="fa fa-calendar-o"></span></span>
										<input [ngModel]="modalEvent.event_date" type="text" class="form-control" formControlName="event_date" [class.invalid]="!addEventForm.controls.event_date.valid" />
									</div>
									<span *ngIf="eventSubmitted && !addEventForm.controls.event_date.valid" class="invalid">Date is required</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Media File (Images)</label>
								<div class="col-md-9">
									<div class="input-group">
										<span class="input-group-addon"><span class="fa fa-file-image-o"></span></span>
										<input type="file" class="form-control" (change)="onFileChange($event)" accept="image/*" />
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Description</label>
								<div class="col-md-9">
									<div class="input-group">
										<textarea rows="4" [ngModel]="modalEvent.description" type="text" class="form-control" formControlName="description" [class.invalid]="!addEventForm.controls.description.valid" ></textarea>
									</div>
									<span *ngIf="eventSubmitted && !addEventForm.controls.description.valid" class="invalid">Description is required</span>
								</div>
							</div>
						</div>
						<div class="panel-footer">
							<button type="reset" class="btn btn-default">Clear Form</button>
							<button type="submit" class="btn btn-primary pull-right">Submit</button>
						</div>
					</div>
				</form>
				<!-- END LOGIN WIDGET -->
			</div>
		</div>

	</div>

	<div class="col-md-8">
		<div class="gallery" id="links">

			<a *ngFor="let event of events" class="gallery-item" title="{{ event.file_name }}" data-gallery>
				<div class="image">
					<img *ngIf="event.file_name !== ''" src="uploads/events/{{ event.file_name }}" alt="{{ event.file_name }}" >
					<img *ngIf="event.file_name === ''" src="assets/icons/events.jpeg" alt="{{ event.file_name }}"/>
					<ul class="gallery-item-controls">
						<li style="background: green" data-toggle="modal" [attr.data-target]="'#modal_' + event.id"><span><i class="fa fa-book" style="color: #fff;"></i></span></li>
						<li style="background: darkred" (click)="deleteEvent(event)"><span><i class="fa fa-trash-o" style="color: #fff;"></i></span></li>
					</ul>
				</div>
				<div class="meta">
					<strong>{{ event.title }}</strong>
					<b>{{ event.subtitle }}</b>
				</div>
				<div id="modal_{{ event.id }}" class="modal fade" role="dialog">
					<div class="modal-dialog">
						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h3 class="modal-title">{{ event.title }}</h3>
								<h5 class="modal-title">{{ event.subtitle }}</h5>
							</div>
							<div class="modal-body">
								<img *ngIf="event.file_name !== ''" width="100" height="100" src="uploads/events/{{ event.file_name }}" alt="{{ event.file_name }}" >
								<img *ngIf="event.file_name === ''" width="100" height="100" src="assets/icons/events.jpeg" alt="{{ event.file_name }}"/>
								<p>{{ event.description }}</p>

								<span><b><h3>Happening On: {{ event.event_date }}</h3></b></span>
								<span>Posted On: {{ event.post_date }}</span>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
			</a>

			<a class="gallery-item" title="Nature Image 1" data-gallery>
				<div class="image">
					<img src="assets/icons/events.jpeg" alt="Nature Image 1"/>
					<ul class="gallery-item-controls">
						<li style="background: green" data-toggle="modal" data-target="#modal_0"><span><i class="fa fa-book" style="color: #fff;"></i></span></li>
						<li style="background: darkred" (click)="deleteEvent(events[0])"><span><i class="fa fa-trash-o" style="color: #fff;"></i></span></li>
					</ul>
				</div>
				<div class="meta">
					<strong>Title</strong>
					<span>Subtitle</span>
				</div>
				<div id="modal_0" class="modal fade" role="dialog">
					<div class="modal-dialog">
						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h3 class="modal-title">Event title</h3>
								<h5 class="modal-title">Event title</h5>
							</div>
							<div class="modal-body">
								<img src="assets/icons/events.jpeg" width="100" height="100" alt="Nature Image 1"/>
								<p>Am describing this event in detail </p>

								<span><b><h3>Happening On: 2018-04-05</h3></b></span>
								<span>Posted On: 2018-03-09</span>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
			</a>

			<a class="gallery-item" title="Music picture 1" data-gallery>
				<div class="image">
					<img src="assets/icons/events.jpeg" alt="Music picture 1"/>
					<ul class="gallery-item-controls">
						<li style="background: darkred" (click)="deleteEvent(events[0])"><span><i class="fa fa-trash-o" style="color: #fff;"></i></span></li>
					</ul>
				</div>
				<div class="meta">
					<strong>Music picture 1</strong>
					<span>Other description</span>
				</div>
			</a>

			<a class="gallery-item" href="assets/lib/theme/images/gallery/girls-1.jpg" title="Girls Image 1" data-gallery>
				<div class="image">
					<img src="assets/icons/events.jpeg" alt="Girls Image 1"/>
					<ul class="gallery-item-controls">
						<li><label class="check"><input type="checkbox" class="icheckbox"/></label></li>
						<li><span class="gallery-item-remove"><i class="fa fa-times"></i></span></li>
					</ul>
				</div>
				<div class="meta">
					<strong>Girls image 1</strong>
					<span>Description</span>
				</div>
			</a>

			<a class="gallery-item" href="assets/lib/theme/images/gallery/nature-2.jpg" title="Nature Image 2" data-gallery>
				<div class="image">
					<img src="assets/icons/events.jpeg" alt="Nature Image 2"/>
					<ul class="gallery-item-controls">
						<li><label class="check"><input type="checkbox" class="icheckbox"/></label></li>
						<li><span class="gallery-item-remove"><i class="fa fa-times"></i></span></li>
					</ul>
				</div>
				<div class="meta">
					<strong>Nature image 2</strong>
					<span>Description</span>
				</div>
			</a>

			<a class="gallery-item" href="assets/lib/theme/images/gallery/space-1.jpg" title="Space picture 1" data-gallery>
				<div class="image">
					<img src="assets/icons/events.jpeg" alt="Space picture 1"/>
					<ul class="gallery-item-controls">
						<li><label class="check"><input type="checkbox" class="icheckbox"/></label></li>
						<li><span class="gallery-item-remove"><i class="fa fa-times"></i></span></li>
					</ul>
				</div>
				<div class="meta">
					<strong>Space picture 1</strong>
					<span>Other description</span>
				</div>
			</a>

			<a class="gallery-item" href="assets/lib/theme/images/gallery/music-2.jpg" title="Music picture 2" data-gallery>
				<div class="image">
					<img src="assets/icons/events.jpeg" alt="Music picture 2"/>
					<ul class="gallery-item-controls">
						<li><label class="check"><input type="checkbox" class="icheckbox"/></label></li>
						<li><span class="gallery-item-remove"><i class="fa fa-times"></i></span></li>
					</ul>
				</div>
				<div class="meta">
					<strong>Music picture 2</strong>
					<span>Other description</span>
				</div>
			</a>

			<a class="gallery-item" href="assets/lib/theme/images/gallery/nature-3.jpg" title="Nature Image 3" data-gallery>
				<div class="image">
					<img src="assets/icons/events.jpeg" alt="Nature Image 3"/>
					<ul class="gallery-item-controls">
						<li><label class="check"><input type="checkbox" class="icheckbox"/></label></li>
						<li><span class="gallery-item-remove"><i class="fa fa-times"></i></span></li>
					</ul>
				</div>
				<div class="meta">
					<strong>Nature image 3</strong>
					<span>Description</span>
				</div>
			</a>

			<a class="gallery-item" href="assets/lib/theme/images/gallery/nature-5.jpg" title="Nature Image 5" data-gallery>
				<div class="image">
					<img src="assets/icons/events.jpeg" alt="Nature Image 5"/>
					<ul class="gallery-item-controls">
						<li><label class="check"><input type="checkbox" class="icheckbox"/></label></li>
						<li><span class="gallery-item-remove"><i class="fa fa-times"></i></span></li>
					</ul>
				</div>
				<div class="meta">
					<strong>Nature image 5</strong>
					<span>Description</span>
				</div>
			</a>

			<a class="gallery-item" href="assets/lib/theme/images/gallery/nature-6.jpg" title="Nature Image 6" data-gallery>
				<div class="image">
					<img src="assets/icons/events.jpeg" alt="Nature Image 6"/>
					<ul class="gallery-item-controls">
						<li><label class="check"><input type="checkbox" class="icheckbox"/></label></li>
						<li><span class="gallery-item-remove"><i class="fa fa-times"></i></span></li>
					</ul>
				</div>
				<div class="meta">
					<strong>Nature image 6</strong>
					<span>Description</span>
				</div>
			</a>

			<a class="gallery-item" href="assets/lib/theme/images/gallery/girls-3.jpg" title="Girls Image 3" data-gallery>
				<div class="image">
					<img src="assets/icons/events.jpeg" alt="Girls Image 3"/>
					<ul class="gallery-item-controls">
						<li><label class="check"><input type="checkbox" class="icheckbox"/></label></li>
						<li><span class="gallery-item-remove"><i class="fa fa-times"></i></span></li>
					</ul>
				</div>
				<div class="meta">
					<strong>Girls image 3</strong>
					<span>Description</span>
				</div>
			</a>

			<a class="gallery-item" href="assets/lib/theme/images/gallery/nature-7.jpg" title="Nature Image 7" data-gallery>
				<div class="image">
					<img src="assets/icons/events.jpeg" alt="Nature Image 7"/>
					<ul class="gallery-item-controls">
						<li><label class="check"><input type="checkbox" class="icheckbox"/></label></li>
						<li><span class="gallery-item-remove"><i class="fa fa-times"></i></span></li>
					</ul>
				</div>
				<div class="meta">
					<strong>Nature image 7</strong>
					<span>Description</span>
				</div>
			</a>

			<a class="gallery-item" href="assets/lib/theme/images/gallery/music-5.jpg" title="Music picture 5" data-gallery>
				<div class="image">
					<img src="assets/icons/events.jpeg" alt="Music picture 5"/>
					<ul class="gallery-item-controls">
						<li><label class="check"><input type="checkbox" class="icheckbox"/></label></li>
						<li><span class="gallery-item-remove"><i class="fa fa-times"></i></span></li>
					</ul>
				</div>
				<div class="meta">
					<strong>Music picture 5</strong>
					<span>Other description</span>
				</div>
			</a>

		</div>
	</div>

</div>

