<div class="login-container">

  <div class="login-box animated fadeInDown">
    <!--<div class="login-logo"></div>-->
    <div class="login-body">
      <div class="login-title">

        <h2 class="title" ><strong>{{ title }}</strong></h2>

        <strong>Welcome</strong>, Please login
      </div>

      <div class="row" *ngIf="loading">
        <div class="col-md-12">
          <p style="color: #fff">
            <img src="assets/lib/theme/img/loaders/default.gif" /> Logging in.. Please wait..
          </p>
        </div>
      </div>
      <p style="text-align: center;"><app-alert></app-alert></p>

      <form  [formGroup]="loginForm" (submit)="login()" class="form-horizontal" novalidate>
        <div class="form-group">
          <div class="col-md-12">
            <label class="label label-default">Registration or Unique login ID</label>
            <input type="text" formControlName="email" [class.invalid]="submitted && !loginForm.controls.email.valid"
                   class="form-control" placeholder="registration or student number" [(ngModel)]="model.username" />
            <div class="invalid" *ngIf="submitted && !loginForm.controls.email.valid">This field is Required</div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-6">
            <!--<a href="#" class="btn btn-link btn-block">Forgot your password?</a>-->
          </div>
          <div class="col-md-6">
            <a href="#" ><button type="submit" class="btn btn-info btn-block">Log In</button></a>
          </div>
        </div>
      </form>
    </div>
    <div class="login-footer">
      <div class="pull-left">
        &copy; 2018 {{ title }}
      </div>
      <!--
      <div class="pull-right">
        <a href="#">About</a> |
        <a href="#">Privacy</a> |
        <a href="#">Contact Us</a>
      </div>
      -->
    </div>
  </div>

</div>