<!-- START PAGE CONTAINER -->
<div class="page-container page-navigation-top" *ngIf="isLoggedin && user!=null">
	<!-- PAGE CONTENT -->
	<div class="page-content">
		<!-- START X-NAVIGATION VERTICAL -->
		<ul class="x-navigation x-navigation-horizontal">
			<li class="xn-logo">
				<a href="#">Notice Board</a>
				<a href="#" class="x-navigation-control"></a>
			</li>
			<li class="">
				<a routerLink="home"><span class="fa fa-home"></span> <span class="xn-text">Home</span></a>
			</li>
			<li class="xn-openable">
				<a href="#"><span class="fa fa-files-o"></span> <span class="xn-text">Collection</span></a>
				<ul class="animated zoomIn">
					<li><a routerLink="programmes"><span class="fa fa-book"></span> Departments and Programmes</a></li>
					<li><a routerLink="courses"><span class="fa fa-book"></span> Courses</a>
					<li><a routerLink="lecturers"><span class="fa fa-user"></span> Lecturers</a></li>
					<li><a routerLink="rooms"><span class="fa fa-building-o"></span> Lecture Rooms and Offices</a></li>
					<li><a routerLink="students"><span class="fa fa-users"></span> Students</a></li>
					<li><a routerLink="admins"><span class="fa fa-users"></span> Admins</a></li>
				</ul>
			</li>
			<li class="">
				<a routerLink="events"><span class="fa fa-calendar-o"></span> <span class="xn-text">Events</span></a>
			</li>
			<li class="xn-openable">
				<a href="#"><span class="fa fa-cogs"></span> <span class="xn-text">Notices</span></a>
				<ul class="animated zoomIn">
					<li><a routerLink="timetables"><span class="fa fa-table"></span> Time Tables</a></li>
					<li><a routerLink="notices"><span class="fa fa-comments-o"></span> Others</a></li>
				</ul>
			</li>
			<!-- SIGN OUT -->
			<li class="pull-right">
				<a href="javascript:void(0)" *ngIf="isLoggedin && user!=null" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span><span class="xn-text" >{{ user.name }}</span></a>
				<a href="javascript:void(0)" *ngIf="!isLoggedin || user==null" class="mb-control" data-box="#mb-signin"><span class="fa fa-sign-in"></span><span class="xn-text" >Login Here</span></a>
			</li>
			<!-- END SIGN OUT -->
		</ul>
		<!-- END X-NAVIGATION VERTICAL -->

		<!-- START BREADCRUMB -->
		<ul class="breadcrumb">
			<li><a href="javascript:void(0)">Home</a></li>
			<li><a href="javascript:void(0)">main</a></li>
		</ul>
		<!-- END BREADCRUMB -->
		<div class="page-title">
			<h2><span class="fa fa-arrow-circle-o-left"></span> College Of Computing and Information Technology</h2>
		</div>

		<!-- PAGE CONTENT WRAPPER -->
		<div class="page-content-wrap">

			<!-- START WIDGETS -->
			<div class="row">

				<div class="col-md-3">

					<!-- START WIDGET SLIDER -->
					<div class="widget widget-default widget-carousel">
						<div class="owl-carousel" id="owl-example">
							<div>
								<div class="widget-title">CoCIS Programmes</div>
								<div class="widget-subtitle">{{ date_today }}</div>
								<div class="widget-int">{{ no_of_programmes }}</div>
							</div>
							<div>
								<div class="widget-title">Courses</div>
								<div class="widget-subtitle">Offered</div>
								<div class="widget-int">{{ no_of_courses }}</div>
							</div>
							<div>
								<div class="widget-title">Students</div>
								<div class="widget-subtitle">Main Compass</div>
								<div class="widget-int">{{ no_of_students }}</div>
							</div>
							<div>
								<div class="widget-title">Lecturers</div>
								<div class="widget-subtitle">Main Compass</div>
								<div class="widget-int">{{ no_of_lecturers }}</div>
							</div>
						</div>
					</div>
					<!-- END WIDGET SLIDER -->

				</div>

				<div class="col-md-3">

					<!-- START WIDGET MESSAGES -->
					<div class="widget widget-default widget-item-icon">
						<div class="widget-item-left">
							<span class="fa fa-envelope"></span>
						</div>
						<div class="widget-data">
							<div class="widget-int num-count">{{ no_of_new_events }}</div>
							<div class="widget-title">New Events</div>
							<div class="widget-subtitle">Yet to unleash</div>
						</div>
					</div>
					<!-- END WIDGET MESSAGES -->

				</div>

				<div class="col-md-3">

					<!-- START WIDGET REGISTRED -->
					<div class="widget widget-default widget-item-icon">
						<div class="widget-item-left">
							<span class="fa fa-user"></span>
						</div>
						<div class="widget-data">
							<div class="widget-int num-count">{{ no_of_lecturers + no_of_students }}</div>
							<div class="widget-title">Users</div>
							<div class="widget-subtitle">Of this system</div>
						</div>
					</div>
					<!-- END WIDGET REGISTRED -->

				</div>

				<div class="col-md-3">

					<!-- START WIDGET CLOCK -->
					<div class="widget widget-info widget-padding-sm">
						<div class="widget-big-int plugin-clock">00:00</div>
						<div class="widget-subtitle plugin-date">Loading...</div>
						<div class="widget-buttons widget-c3">
							<div class="col">
								<a href="#"><span class="fa fa-clock-o"></span></a>
							</div>
							<div class="col">
								<a href="#"><span class="fa fa-bell"></span></a>
							</div>
							<div class="col">
								<a href="#"><span class="fa fa-calendar"></span></a>
							</div>
						</div>
					</div>
					<!-- END WIDGET CLOCK -->

				</div>
			</div>
			<!-- END WIDGETS -->

			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-info">
						<div class="panel-body">

							<router-outlet></router-outlet>

						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- PAGE CONTENT WRAPPER -->

	</div>
	<!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->

<!-- LOGOUT MESSAGE BOX-->
<div class="message-box animated fadeIn" data-sound="alert" id="mb-signout" *ngIf="isLoggedin">
	<div class="mb-container">
		<div class="mb-middle">
			<div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
			<div class="mb-content">
				<p>Are you sure you want to log out?</p>
				<p>Press No if you want to continue work. Press Yes to logout current user.</p>
			</div>
			<div class="mb-footer">
				<div class="pull-right">
					<a (click)="logout()" class="btn btn-success btn-lg">Yes</a>
					<button class="btn btn-default btn-lg mb-control-close">No</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END LOGOUT MESSAGE BOX-->

<!-- LOGIN MESSAGE BOX-->
<div class="message-box animated fadeIn" data-sound="alert" id="mb-signin" *ngIf="!isLoggedin || user == null">

	<div class="center-block" style="width: 100%; height: auto;">
		<button class="btn btn-default btn-lg mb-control-close">Cancel</button>
		<app-login></app-login>
	</div>
</div>
<!-- END LOGIN MESSAGE BOX-->


<app-login *ngIf="!isLoggedin || user == null" (loginEmmitter)="loginEmit($event)" ></app-login>