
<div class="row">
	<div class="col-sm-6">

		<app-alert></app-alert>

		<div class="row">
			<div class="col-md-12">
				<div class="row" *ngIf="loading">
					<div class="col-md-12">
						<p style="color: green">
							<img src="assets/lib/theme/img/loaders/default.gif" /> Saving changes... Please wait..
						</p>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<!-- LOGIN WIDGET -->
						<form class="form-horizontal" [formGroup]="addProgrammeForm" (submit)="programmeSubmit()" novalidate>
							<div class="panel panel-default">
								<div class="panel-body">
									<h2>Programme</h2>
									<p>Add Programme</p>
									<div class="form-group">
										<label class="col-md-3 control-label">Programme Code</label>
										<div class="col-md-9">
											<div class="input-group">
												<span class="input-group-addon"><span class="fa fa-qrcode"></span></span>
												<input [ngModel]="modalProgamme.code" type="text" class="form-control" formControlName="code" [class.invalid]="!addProgrammeForm.controls.code.valid" />
											</div>
											<span *ngIf="programmeSubmitted && !addProgrammeForm.controls.code.valid" class="invalid">code is required</span>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">Programme Name</label>
										<div class="col-md-9">
											<div class="input-group">
												<span class="input-group-addon"><span class="fa fa-edit"></span></span>
												<input [ngModel]="modalProgamme.name" type="text" class="form-control" formControlName="name" [class.invalid]="!addProgrammeForm.controls.name.valid" />
											</div>
											<span *ngIf="programmeSubmitted && !addProgrammeForm.controls.name.valid" class="invalid">name is required</span>
										</div>
									</div>
								</div>
								<div class="panel-footer">
									<button type="reset" class="btn btn-default">Clear Form</button>
									<button type="submit" class="btn btn-primary pull-right">Submit</button>
								</div>
							</div>
						</form>
						<!-- END LOGIN WIDGET -->
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="row col-md-12 col-sm-12 col-lg-12" style="border-bottom: 1px solid dodgerblue; margin-bottom: 5px; padding-bottom: 10px">
							<form class="form-inline" [formGroup]="searchForm" (submit)="searchItems()" role="form" novalidate>
								Search: <input type="text" name="searchTerm" formControlName="search" placeholder="search programme name"
											   class="form-control pull-right" (keydown)="searchItems()" />
							</form>

						</div>

						<table class="table table-striped table-border table-hover">
							<thead>
							<tr>
								<th>Programme Code</th>
								<th>Programme Name</th>
								<th>Action</th>
							</tr>
							</thead>
							<tbody>
							<tr *ngFor="let program of programmes">
								<td>{{ program.code }}</td>
								<td>{{ program.name }}</td>
								<td>
									<button (click)="editProgramme(program)" class="btn btn-sm btn-rounded btn-success pull-left"><i class="fa fa-edit"></i></button>
									<button (click)="deleteProgramme(program)" class="btn btn-rounded btn-sm btn-danger center-block"><i class="fa fa-trash-o"></i></button>
								</td>
							</tr>
							<tr>
								<td>BSE 2301</td>
								<td>System Architecture</td>
								<td>
									<button (click)="editProgramme(program)" class="btn btn-sm btn-rounded btn-success pull-left"><i class="fa fa-edit"></i></button>
									<button (click)="deleteProgramme(program)" class="btn btn-rounded btn-sm btn-danger center-block"><i class="fa fa-trash-o"></i></button>
								</td>
							</tr>
							<tr>
								<td>BSE 2301</td>
								<td>System Architecture</td>
								<td>
									<button (click)="editProgramme(program)" class="btn btn-sm btn-rounded btn-success pull-left"><i class="fa fa-edit"></i></button>
									<button (click)="deleteProgramme(program)" class="btn btn-rounded btn-sm btn-danger center-block"><i class="fa fa-trash-o"></i></button>
								</td>
							</tr>
							<tr>
								<td>BSE 2301</td>
								<td>System Architecture</td>
								<td>
									<button (click)="editProgramme(program)" class="btn btn-sm btn-rounded btn-success pull-left"><i class="fa fa-edit"></i></button>
									<button (click)="deleteProgramme(program)" class="btn btn-rounded btn-sm btn-danger center-block"><i class="fa fa-trash-o"></i></button>
								</td>
							</tr>
							<tr>
								<td>BSE 2301</td>
								<td>System Architecture</td>
								<td>
									<button (click)="editProgramme(program)" class="btn btn-sm btn-rounded btn-success pull-left"><i class="fa fa-edit"></i></button>
									<button (click)="deleteProgramme(program)" class="btn btn-rounded btn-sm btn-danger center-block"><i class="fa fa-trash-o"></i></button>
								</td>
							</tr>
							<tr>
								<td>BSE 2301</td>
								<td>System Architecture</td>
								<td>
									<button (click)="editProgramme(program)" class="btn btn-sm btn-rounded btn-success pull-left"><i class="fa fa-edit"></i></button>
									<button (click)="deleteProgramme(program)" class="btn btn-rounded btn-sm btn-danger center-block"><i class="fa fa-trash-o"></i></button>
								</td>
							</tr>

							</tbody>
						</table>

					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="col-sm-6">

		<app-departments></app-departments>

	</div>
</div>