
<div class="row">
	<div class="col-md-4">

		<app-alert ></app-alert>

		<div class="row" *ngIf="loading">
			<div class="col-md-12">
				<p style="color: green">
					<img src="assets/lib/theme/img/loaders/default.gif" /> Saving changes... Please wait..
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<!-- LOGIN WIDGET -->
				<form class="form-horizontal" [formGroup]="addRoomForm" (submit)="roomSubmit()" novalidate>
					<div class="panel panel-default">
						<div class="panel-body">
							<h2>Rooms/Offices</h2>
							<p>Add</p>
							<div class="form-group">
								<label class="col-md-3 control-label">Block No.</label>
								<div class="col-md-9">
									<div class="input-group">
										<span class="input-group-addon"><span class="fa fa-edit"></span></span>
										<input [ngModel]="modalRoom.block" type="text" class="form-control" formControlName="block" [class.invalid]="!addRoomForm.controls.block.valid" />
									</div>
									<span *ngIf="roomSubmitted && !addRoomForm.controls.block.valid" class="invalid">Block number is required</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Level/Floor</label>
								<div class="col-md-9">
									<div class="input-group">
										<span class="input-group-addon"><span class="fa fa-edit"></span></span>
										<input [ngModel]="modalRoom.level" type="text" class="form-control" formControlName="level" [class.invalid]="!addRoomForm.controls.level.valid" />
									</div>
									<span *ngIf="roomSubmitted && !addRoomForm.controls.level.valid" class="invalid">floor number is required</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Room/Office No.</label>
								<div class="col-md-9">
									<div class="input-group">
										<span class="input-group-addon"><span class="fa fa-edit"></span></span>
										<input [ngModel]="modalRoom.number" type="text" class="form-control" formControlName="number" [class.invalid]="!addRoomForm.controls.number.valid" />
									</div>
									<span *ngIf="roomSubmitted && !addRoomForm.controls.number.valid" class="invalid">Room number is required</span>
								</div>
							</div>
						</div>
						<div class="panel-footer">
							<button type="reset" class="btn btn-default">Clear Form</button>
							<button type="submit" class="btn btn-primary pull-right">Submit</button>
						</div>
					</div>
				</form>
				<!-- END LOGIN WIDGET -->
			</div>
		</div>
	</div>

	<div class="col-md-8">
		<div class="row col-md-12 col-sm-12 col-lg-12" style="border-bottom: 1px solid dodgerblue; margin-bottom: 5px; padding-bottom: 10px">
			<form class="form-inline" [formGroup]="searchForm" (submit)="searchItems()" role="form" novalidate>
				Search: <input type="text" name="searchTerm" formControlName="search" placeholder="search rooms"
							   class="form-control pull-right" (keydown)="searchItems()" />
			</form>

		</div>

		<table class="table table-striped table-border table-hover">
			<thead>
			<tr>
				<th>Block No.</th>
				<th>Level/Floor</th>
				<th>Room No.</th>
				<th>Action</th>
			</tr>
			</thead>
			<tbody>
			<tr *ngFor="let room of rooms">
				<td>{{ room.block }}</td>
				<td>{{ room.level }}</td>
				<td>{{ room.number }}</td>
				<td>
					<button (click)="editRoom(room)" class="btn btn-sm btn-rounded btn-success pull-left"><i class="fa fa-edit"></i></button>
					<button (click)="deleteRoom(room)" class="btn btn-rounded btn-sm btn-danger center-block"><i class="fa fa-trash-o"></i></button>
				</td>
			</tr>
			<tr>
				<td>A</td>
				<td>2</td>
				<td>LLT3B</td>
				<td>
					<button (click)="editRoom(course)" class="btn btn-sm btn-rounded btn-success pull-left"><i class="fa fa-edit"></i></button>
					<button (click)="deleteRoom(course)" class="btn btn-rounded btn-sm btn-danger center-block"><i class="fa fa-trash-o"></i></button>
				</td>
			</tr>
			<tr>
				<td>A</td>
				<td>2</td>
				<td>LLT3B</td>
				<td>
					<button (click)="editRoom(course)" class="btn btn-sm btn-rounded btn-success pull-left"><i class="fa fa-edit"></i></button>
					<button (click)="deleteRoom(course)" class="btn btn-rounded btn-sm btn-danger center-block"><i class="fa fa-trash-o"></i></button>
				</td>
			</tr>
			<tr>
				<td>A</td>
				<td>2</td>
				<td>LLT3B</td>
				<td>
					<button (click)="editRoom(course)" class="btn btn-sm btn-rounded btn-success pull-left"><i class="fa fa-edit"></i></button>
					<button (click)="deleteRoom(course)" class="btn btn-rounded btn-sm btn-danger center-block"><i class="fa fa-trash-o"></i></button>
				</td>
			</tr>
			<tr>
				<td>A</td>
				<td>2</td>
				<td>LLT3B</td>
				<td>
					<button (click)="editRoom(course)" class="btn btn-sm btn-rounded btn-success pull-left"><i class="fa fa-edit"></i></button>
					<button (click)="deleteRoom(course)" class="btn btn-rounded btn-sm btn-danger center-block"><i class="fa fa-trash-o"></i></button>
				</td>
			</tr>

			</tbody>
		</table>

	</div>
</div>