<div class="row" *ngIf="addNotice">

	<div class="col-md-4 z-depth-3" >

		<app-alert></app-alert>

		<div class="row" *ngIf="loading">
			<div class="col-md-12">
				<p style="color: green">
					<img src="assets/lib/theme/img/loaders/default.gif" /> Saving changes... Please wait..
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<!-- LOGIN WIDGET -->
				<form class="form-horizontal" [formGroup]="addNoticeForm" (submit)="noticeSubmit()" novalidate>
					<div class="panel panel-default">
						<div class="panel-body">
							<h2>Notice</h2>
							<p>New post</p>
							<div class="form-group">
								<label class="col-md-3 control-label">Category</label>
								<div class="col-md-9">
									<select title="stores" [class.invalid]="!addNoticeForm.controls.category.valid" [(ngModel)]="modalNotice.category" formControlName="category" class="form-control">
										<option value="educational">Educational</option>
										<option value="entertainment" >Entertainment</option>
										<option value="politics" >Politics</option>
										<option value="sports" >Sports</option>
										<option value="informative" >Informative/Others</option>
									</select>
									<span *ngIf="noticeSubmitted && !addNoticeForm.controls.category.valid" class="invalid">Choose a valid category</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Level of Urgency</label>
								<div class="col-md-9">
									<select title="stores" [class.invalid]="!addNoticeForm.controls.level.valid" [(ngModel)]="modalNotice.level" formControlName="level" class="form-control">
										<option value="normal" [selected]="user===null || user.is_student" >Normal</option>
										<option value="urgent" [selected]="user!==null && !user.is_student" >very urgent</option>
									</select>
									<span *ngIf="noticeSubmitted && !addNoticeForm.controls.level.valid" class="invalid">Select a level</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Programme</label>
								<div class="col-md-9">
									<select title="stores" [class.invalid]="!addNoticeForm.controls.programme_id.valid" [(ngModel)]="modalNotice.programme_id" formControlName="programme_id" class="form-control">
										<option value="0" [selected]="true">All</option>
										<option *ngFor="let program of programmes" [ngValue]="program.id" >
											{{ program.name }}
										</option>
									</select>
									<span *ngIf="noticeSubmitted && !addNoticeForm.controls.programme_id.valid" class="invalid">Select a programme</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Title</label>
								<div class="col-md-9">
									<div class="input-group">
										<span class="input-group-addon"><span class="fa fa-edit"></span></span>
										<input [ngModel]="modalNotice.title" type="text" class="form-control" formControlName="title" [class.invalid]="!addNoticeForm.controls.title.valid" />
									</div>
									<span *ngIf="noticeSubmitted && !addNoticeForm.controls.title.valid" class="invalid">Title is required</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Description</label>
								<div class="col-md-9">
									<div class="input-group">
										<span class="input-group-addon"><span class="fa fa-edit"></span></span>
										<textarea rows="4" [ngModel]="modalNotice.description" type="text" class="form-control" formControlName="description" [class.invalid]="!addNoticeForm.controls.description.valid"></textarea>
									</div>
									<span *ngIf="noticeSubmitted && !addNoticeForm.controls.description.valid" class="invalid">Please describe the note...</span>
								</div>
							</div>
						</div>
						<div class="panel-footer" *ngIf="user!==null">
							<button type="reset" class="btn btn-default">Clear Form</button>
							<button type="submit" class="btn btn-primary pull-right">Submit</button>
						</div>
						<div class="panel-footer" *ngIf="user===null">
							<button type="button" (click)="emitLogin()" style="width: 100%" class="btn btn-danger btn-lg">
								Please Click <i class="fa fa-hand-o-right"></i> to logIn to post on the Board.<br>
								OR Click on th login link at the `TOP RIGHT CORNER`
							</button>
						</div>
					</div>
				</form>
				<!-- END LOGIN WIDGET -->
			</div>
		</div>

	</div>

	<div class="col-md-8" >

		<div style="width: 100%; padding: 5px; text-align: center; font-weight: bolder; text-decoration: underline;"><h4><b>Notices</b></h4></div>

		<div class="row" style="border-bottom: 1px solid dodgerblue; margin-bottom: 5px; padding-bottom: 10px">

			<div class="col-md-6 col-sm-6 col-lg-6">
				<label class="col-md-3">Category</label>
				<div class="col-md-9">
					<select title="stores" (change)="filterItems()" [(ngModel)]="searchFilter" class="form-control pull-left">
						<option value="all" selected >All</option>
						<option value="educational">Educational</option>
						<option value="entertainment" >Entertainment</option>
						<option value="politics" >Politics</option>
						<option value="sports" >Sports</option>
						<option value="informative" >Informative/Others</option>
					</select>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-lg-6">
				<form class="form-inline" [formGroup]="searchForm" (submit)="searchItems()" role="form" novalidate>
					Search: <input type="text" name="searchTerm" formControlName="search" placeholder="search with NOTE TITLE"
								   class="form-control pull-right" (keydown)="searchItems()" />
				</form>
			</div>

		</div>

		<div class="row col-md-12" style="text-align: center; font-size: 18px; font-weight: bolder" *ngIf="notices.length < 1">
			<div style="width: 100%; padding: 5px; text-align: center; font-weight: bolder; text-decoration: underline;">
				<h4><b>Events </b>
					<button style="margin-left: 20px" (click)="loadArchives()" class="btn btn-sm btn-danger"> Archived</button>
					<button style="margin-left: 20px" (click)="refreshNotices()" class="btn btn-sm btn-success"> New </button>
				</h4>
			</div>
			<em>`NOTICEBOARD` empty box.... </em>
		</div>


		<div *ngIf="notices.length > 0" class="gallery" id="links">

			<div style="width: 100%; padding: 5px; text-align: center; font-weight: bolder; text-decoration: underline;">
				<h4><b>Events </b>
					<button style="margin-left: 20px" (click)="loadArchives()" class="btn btn-sm btn-danger"> Archived</button>
					<button style="margin-left: 20px" (click)="refreshNotices()" class="btn btn-sm btn-success"> New </button>
				</h4>
			</div>

			<a *ngFor="let note of notices" class="gallery-item" title="{{ note.title }}" data-gallery>
				<div class="palaroid">
					<div class="meta">
						<strong style="color: #0a001f; font-size: 15px;">Title: {{ note.title }}</strong>
						<strong style="color: #33518e">Programme: {{ note.programme_code }}</strong>
						<strong style="color: #8e1f1c">Category: {{ note.category }}</strong>
						<i>Post Date: {{ note.post_date }}</i>
						<h5 class="modal-title" *ngIf="note.level=='urgent'" style="color: red; font-weight: bolder">Level: {{ note.level }}</h5>
						<h5 class="modal-title" *ngIf="note.level=='normal'" style="color: dodgerblue; font-weight: bolder">Level: {{ note.level }}</h5>
						<!--<i style="font-size: 32px; color: dodgerblue" class="fa fa-map-marker"></i>-->
					</div>
					<div class="image">
						<img src="assets/icons/important-notice.png" height="180" alt="{{ note.title }}"/>
						<ul class="gallery-item-controls">
							<li style="background: green" data-toggle="modal" [attr.data-target]="'#modal_' + note.id"><span><i class="fa fa-book" style="color: #fff;"></i></span></li>
							<li style="background: darkred" *ngIf="user!==null && user.is_admin" (click)="deleteNotice(note)"><span><i class="fa fa-trash-o" style="color: #fff;"></i></span></li>
						</ul>
					</div>
				</div>

				<div id="modal_{{ note.id }}" class="modal fade" role="dialog">
					<div class="modal-dialog">
						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h3 class="modal-title">{{ note.title }}</h3>
								<h3 style="color: #8e1f1c" class="modal-title">{{ note.category }}</h3>
								<h3 class="modal-title">{{ note.programme_code }}</h3>
								<h5 class="modal-title">{{ note.programme_name }}</h5>
								<h5 class="modal-title" *ngIf="note.level=='urgent'" style="color: red; font-weight: bolder">Level: {{ note.level }}</h5>
								<h5 class="modal-title" *ngIf="note.level=='normal'" style="color: dodgerblue; font-weight: bolder">Level: {{ note.level }}</h5>
							</div>
							<div class="modal-body">
								<img width="100" src="assets/icons/important-notice.png" alt="{{ note.title }}"/>
								<p>{{ note.description }}</p>

								<span><b><h3>Posted By: {{ note.posted_by }}</h3></b></span>
								<span>Posted On: {{ note.post_date }}</span>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
			</a>

		</div>
	</div>

</div>
