
<div class="row">
	<div class="col-md-4">

		<app-alert ></app-alert>

		<div class="row" *ngIf="loading">
			<div class="col-md-12">
				<p style="color: green">
					<img src="assets/lib/theme/img/loaders/default.gif" /> Saving changes... Please wait..
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<!-- LOGIN WIDGET -->
				<form class="form-horizontal" [formGroup]="addStudentForm" (submit)="studentSubmit()" novalidate>
					<div class="panel panel-default">
						<div class="panel-body">
							<h2>Students</h2>
							<p>Add Student</p>
							<div class="form-group">
								<label class="col-md-3 control-label">First Name</label>
								<div class="col-md-9">
									<div class="input-group">
										<span class="input-group-addon"><span class="fa fa-edit"></span></span>
										<input [ngModel]="modalStudent.first_name" type="text" class="form-control" formControlName="first_name" [class.invalid]="!addStudentForm.controls.first_name.valid" />
									</div>
									<span *ngIf="studentSubmitted && !addStudentForm.controls.first_name.valid" class="invalid">first name is required</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Last Name</label>
								<div class="col-md-9">
									<div class="input-group">
										<span class="input-group-addon"><span class="fa fa-edit"></span></span>
										<input [ngModel]="modalStudent.last_name" type="text" class="form-control" formControlName="last_name" [class.invalid]="!addStudentForm.controls.last_name.valid" />
									</div>
									<span *ngIf="studentSubmitted && !addStudentForm.controls.last_name.valid" class="invalid">last name is required</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Registration No.</label>
								<div class="col-md-9">
									<div class="input-group">
										<span class="input-group-addon"><span class="fa fa-qrcode"></span></span>
										<input [ngModel]="modalStudent.registration_no" type="text" class="form-control" formControlName="registration_no" [class.invalid]="!addStudentForm.controls.registration_no.valid" />
									</div>
									<span *ngIf="studentSubmitted && !addStudentForm.controls.registration_no.valid" class="invalid">Field is required</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Student No.</label>
								<div class="col-md-9">
									<div class="input-group">
										<span class="input-group-addon"><span class="fa fa-qrcode"></span></span>
										<input [ngModel]="modalStudent.student_no" type="text" class="form-control" formControlName="student_no" [class.invalid]="!addStudentForm.controls.student_no.valid" />
									</div>
									<span *ngIf="studentSubmitted && !addStudentForm.controls.student_no.valid" class="invalid">Field is required</span>
								</div>
							</div>
						</div>
						<div class="panel-footer">
							<button type="reset" class="btn btn-default">Clear Form</button>
							<button type="submit" class="btn btn-primary pull-right">Submit</button>
						</div>
					</div>
				</form>
				<!-- END LOGIN WIDGET -->
			</div>
		</div>
	</div>

	<div class="col-md-8">
		<div class="row col-md-12 col-sm-12 col-lg-12" style="border-bottom: 1px solid dodgerblue; margin-bottom: 5px; padding-bottom: 10px">
			<form class="form-inline" [formGroup]="searchForm" (submit)="searchItems()" role="form" novalidate>
				Search: <input type="text" name="searchTerm" formControlName="search" placeholder="search student name"
							   class="form-control pull-right" (keydown)="searchItems()" />
			</form>

		</div>

		<table class="table table-striped table-border table-hover">
			<thead>
			<tr>
				<th>Name</th>
				<th>Registration No.</th>
				<th>StudentNo.</th>
				<th>Action</th>
			</tr>
			</thead>
			<tbody>
			<tr *ngFor="let student of students">
				<td>{{ student.first_name }} {{ student.last_name }}</td>
				<td>{{ student.registration_no }}</td>
				<td>{{ student.student_no }}</td>
				<td>
					<button (click)="editStudent(student)" class="btn btn-sm btn-rounded btn-success pull-left"><i class="fa fa-edit"></i></button>
					<button (click)="deleteStudent(student)" class="btn btn-rounded btn-sm btn-danger center-block"><i class="fa fa-trash-o"></i></button>
				</td>
			</tr>
			<tr>
				<td>Santos Reio</td>
				<td>12/34/U/344</td>
				<td>9447928839</td>
				<td>
					<button (click)="editStudent(course)" class="btn btn-sm btn-rounded btn-success pull-left"><i class="fa fa-edit"></i></button>
					<button (click)="deleteStudent(course)" class="btn btn-rounded btn-sm btn-danger center-block"><i class="fa fa-trash-o"></i></button>
				</td>
			</tr>
			<tr>
				<td>Santos Reio</td>
				<td>12/34/U/344</td>
				<td>9447928839</td>
				<td>
					<button (click)="editStudent(course)" class="btn btn-sm btn-rounded btn-success pull-left"><i class="fa fa-edit"></i></button>
					<button (click)="deleteStudent(course)" class="btn btn-rounded btn-sm btn-danger center-block"><i class="fa fa-trash-o"></i></button>
				</td>
			</tr>
			<tr>
				<td>Santos Reio</td>
				<td>12/34/U/344</td>
				<td>9447928839</td>
				<td>
					<button (click)="editStudent(course)" class="btn btn-sm btn-rounded btn-success pull-left"><i class="fa fa-edit"></i></button>
					<button (click)="deleteStudent(course)" class="btn btn-rounded btn-sm btn-danger center-block"><i class="fa fa-trash-o"></i></button>
				</td>
			</tr>
			<tr>
				<td>Santos Reio</td>
				<td>12/34/U/344</td>
				<td>9447928839</td>
				<td>
					<button (click)="editStudent(course)" class="btn btn-sm btn-rounded btn-success pull-left"><i class="fa fa-edit"></i></button>
					<button (click)="deleteStudent(course)" class="btn btn-rounded btn-sm btn-danger center-block"><i class="fa fa-trash-o"></i></button>
				</td>
			</tr>

			</tbody>
		</table>

	</div>
</div>