
<div class="row">
	<div class="col-md-4">

		<app-alert></app-alert>

		<div class="row" *ngIf="loading">
			<div class="col-md-12">
				<p style="color: green">
					<img src="assets/lib/theme/img/loaders/default.gif" /> Saving changes... Please wait..
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<!-- LOGIN WIDGET -->
				<form class="form-horizontal" [formGroup]="addLecturerForm" (submit)="lecturerSubmit()" novalidate>
					<div class="panel panel-default">
						<div class="panel-body">
							<h2>Lecturers</h2>
							<p>Add Lecturer</p>
							<div class="form-group">
								<label class="col-md-3 control-label">First Name</label>
								<div class="col-md-9">
									<div class="input-group">
										<span class="input-group-addon"><span class="fa fa-edit"></span></span>
										<input [ngModel]="modalLecturer.first_name" type="text" class="form-control" formControlName="first_name" [class.invalid]="!addLecturerForm.controls.first_name.valid" />
									</div>
									<span *ngIf="lecturerSubmitted && !addLecturerForm.controls.first_name.valid" class="invalid">first name is required</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Last Name</label>
								<div class="col-md-9">
									<div class="input-group">
										<span class="input-group-addon"><span class="fa fa-edit"></span></span>
										<input [ngModel]="modalLecturer.last_name" type="text" class="form-control" formControlName="last_name" [class.invalid]="!addLecturerForm.controls.last_name.valid" />
									</div>
									<span *ngIf="lecturerSubmitted && !addLecturerForm.controls.last_name.valid" class="invalid">last name is required</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Email</label>
								<div class="col-md-9">
									<div class="input-group">
										<span class="input-group-addon"><span class="fa fa-envelope"></span></span>
										<input [ngModel]="modalLecturer.email" type="email" class="form-control" formControlName="email" [class.invalid]="!addLecturerForm.controls.email.valid" />
									</div>
									<span *ngIf="lecturerSubmitted && !addLecturerForm.controls.email.valid" class="invalid">Valid Email is required</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Contact</label>
								<div class="col-md-9">
									<div class="input-group">
										<span class="input-group-addon"><span class="fa fa-phone"></span></span>
										<input [ngModel]="modalLecturer.contact" type="text" class="form-control" formControlName="contact" [class.invalid]="!addLecturerForm.controls.contact.valid" />
									</div>
									<span *ngIf="lecturerSubmitted && !addLecturerForm.controls.contact.valid" class="invalid">Contact number is required</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Office Number</label>
								<div class="col-md-9">
									<div class="input-group">
										<span class="input-group-addon"><span class="fa fa-qrcode"></span></span>
										<input [ngModel]="modalLecturer.office_no" type="text" class="form-control" formControlName="office_no" [class.invalid]="!addLecturerForm.controls.office_no.valid" />
									</div>
									<span *ngIf="lecturerSubmitted && !addLecturerForm.controls.office_no.valid" class="invalid">This field is required</span>
								</div>
							</div>
						</div>
						<div class="panel-footer">
							<button type="reset" class="btn btn-default">Clear Form</button>
							<button type="submit" class="btn btn-primary pull-right">Submit</button>
						</div>
					</div>
				</form>
				<!-- END LOGIN WIDGET -->
			</div>
		</div>
	</div>

	<div class="col-md-8">
		<div class="row col-md-12 col-sm-12 col-lg-12" style="border-bottom: 1px solid dodgerblue; margin-bottom: 5px; padding-bottom: 10px">
			<form class="form-inline" [formGroup]="searchForm" (submit)="searchItems()" role="form" novalidate>
				Search: <input type="text" name="searchTerm" formControlName="search" placeholder="search lecturer name"
							   class="form-control pull-right" (keydown)="searchItems()" />
			</form>

		</div>

		<table class="table table-striped table-border table-hover">
			<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Contact</th>
				<th>Office No</th>
				<th>Action</th>
			</tr>
			</thead>
			<tbody>
			<tr *ngFor="let lecturer of lecturers">
				<td>{{ lecturer.first_name }} {{ lecturer.last_name }}</td>
				<td>{{ lecturer.email }}</td>
				<td>{{ lecturer.contact }}</td>
				<td>{{ lecturer.office_no }}</td>
				<td>
					<button (click)="editLecturer(lecturer)" class="btn btn-sm btn-rounded btn-success pull-left"><i class="fa fa-edit"></i></button>
					<button (click)="deleteLecturer(lecturer)" class="btn btn-rounded btn-sm btn-danger center-block"><i class="fa fa-trash-o"></i></button>
				</td>
			</tr>
			<tr>
				<td>Santos Reio</td>
				<td>ex@site.com</td>
				<td>9447928839</td>
				<td>94</td>
				<td>
					<button (click)="editLecturer(course)" class="btn btn-sm btn-rounded btn-success pull-left"><i class="fa fa-edit"></i></button>
					<button (click)="deleteLecturer(course)" class="btn btn-rounded btn-sm btn-danger center-block"><i class="fa fa-trash-o"></i></button>
				</td>
			</tr>
			<tr>
				<td>Santos Reio</td>
				<td>ex@site.com</td>
				<td>9447928839</td>
				<td>94</td>
				<td>
					<button (click)="editLecturer(course)" class="btn btn-sm btn-rounded btn-success pull-left"><i class="fa fa-edit"></i></button>
					<button (click)="deleteLecturer(course)" class="btn btn-rounded btn-sm btn-danger center-block"><i class="fa fa-trash-o"></i></button>
				</td>
			</tr>
			<tr>
				<td>Santos Reio</td>
				<td>ex@site.com</td>
				<td>9447928839</td>
				<td>94</td>
				<td>
					<button (click)="editLecturer(course)" class="btn btn-sm btn-rounded btn-success pull-left"><i class="fa fa-edit"></i></button>
					<button (click)="deleteLecturer(course)" class="btn btn-rounded btn-sm btn-danger center-block"><i class="fa fa-trash-o"></i></button>
				</td>
			</tr>
			<tr>
				<td>Santos Reio</td>
				<td>ex@site.com</td>
				<td>9447928839</td>
				<td>94</td>
				<td>
					<button (click)="editLecturer(course)" class="btn btn-sm btn-rounded btn-success pull-left"><i class="fa fa-edit"></i></button>
					<button (click)="deleteLecturer(course)" class="btn btn-rounded btn-sm btn-danger center-block"><i class="fa fa-trash-o"></i></button>
				</td>
			</tr>
			</tbody>
		</table>

	</div>
</div>