
<div class="row">
	<div *ngIf="user!==null && user.is_admin" class="z-depth-3 col-md-4">

		<app-alert></app-alert>

		<div class="row" *ngIf="loading">
			<div class="col-md-12">
				<p style="color: green">
					<img src="assets/lib/theme/img/loaders/default.gif" /> Saving changes... Please wait..
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<!-- LOGIN WIDGET -->
				<form class="form-horizontal" [formGroup]="addLecturerForm" (submit)="lecturerSubmit()" novalidate>
					<div class="panel panel-default">
						<div class="panel-body">
							<h2>Lecturers</h2>
							<p>Add Lecturer</p>
							<div class="form-group">
								<label class="col-md-3 control-label">First Name</label>
								<div class="col-md-9">
									<div class="input-group">
										<span class="input-group-addon"><span class="fa fa-edit"></span></span>
										<input [ngModel]="modalLecturer.first_name" type="text" class="form-control" formControlName="first_name" [class.invalid]="!addLecturerForm.controls.first_name.valid" />
									</div>
									<span *ngIf="lecturerSubmitted && !addLecturerForm.controls.first_name.valid" class="invalid">first name is required</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Last Name</label>
								<div class="col-md-9">
									<div class="input-group">
										<span class="input-group-addon"><span class="fa fa-edit"></span></span>
										<input [ngModel]="modalLecturer.last_name" type="text" class="form-control" formControlName="last_name" [class.invalid]="!addLecturerForm.controls.last_name.valid" />
									</div>
									<span *ngIf="lecturerSubmitted && !addLecturerForm.controls.last_name.valid" class="invalid">last name is required</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Email</label>
								<div class="col-md-9">
									<div class="input-group">
										<span class="input-group-addon"><span class="fa fa-envelope"></span></span>
										<input [ngModel]="modalLecturer.email" type="email" class="form-control" formControlName="email" [class.invalid]="!addLecturerForm.controls.email.valid" />
									</div>
									<span *ngIf="lecturerSubmitted && !addLecturerForm.controls.email.valid" class="invalid">Valid Email is required</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Contact</label>
								<div class="col-md-9">
									<div class="input-group">
										<span class="input-group-addon"><span class="fa fa-phone"></span></span>
										<input [ngModel]="modalLecturer.contact" type="text" maxlength="13" minlength="10" class="form-control" formControlName="contact" [class.invalid]="!addLecturerForm.controls.contact.valid" />
									</div>
									<span *ngIf="lecturerSubmitted && !addLecturerForm.controls.contact.valid" class="invalid">Contact number is required</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Office /Room No</label>
								<div class="col-md-9">
									<select title="stores" [class.invalid]="!addLecturerForm.controls.room_id.valid" [(ngModel)]="modalLecturer.room_id" formControlName="room_id" class="form-control">
										<option value="0" selected="selected" disabled >---------------------</option>
										<option *ngFor="let room of rooms" [ngValue]="room.id" >
											{{ room.number }}
										</option>
									</select>
									<span *ngIf="lecturerSubmitted && !addLecturerForm.controls.room_id.valid" class="invalid">This field is required</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Department</label>
								<div class="col-md-9">
									<select title="stores" [class.invalid]="!addLecturerForm.controls.department_id.valid" [(ngModel)]="modalLecturer.department_id" formControlName="department_id" class="form-control">
										<option value="0" selected="selected" disabled >---------------------</option>
										<option *ngFor="let department of departments" [ngValue]="department.id" >
											{{ department.name }}
										</option>
									</select>
									<span *ngIf="lecturerSubmitted && !addLecturerForm.controls.department_id.valid" class="invalid">Select a Department for this lecturer</span>
								</div>
							</div>
						</div>
						<div class="panel-footer">
							<button type="reset" class="btn btn-default">Clear Form</button>
							<button type="submit" class="btn btn-primary pull-right">Submit</button>
						</div>
					</div>
				</form>
				<!-- END LOGIN WIDGET -->
			</div>
		</div>
	</div>

	<div class="col-md-4 z-depth-3 visible-lg visible-md" *ngIf="user === null || !user.is_admin">
		<div style="width: auto; margin: 15px 5px 5px;text-align: center">
			<h3>External sources</h3>
		</div>
		<div class="gallery gallery-small" >

			<a class="gallery-item" href="https://stackoverflow.com" title="stackoverflow.com" target="_blank" data-gallery>
				<div class="image">
					<img src="assets/links/stackoverflow.jpeg"/>
				</div>
			</a>
			<a class="gallery-item" href="https://facebook.com" title="facebook.com" target="_blank" data-gallery>
				<div class="image">
					<img src="assets/links/fb-logo1.png"/>
				</div>
			</a>
			<a class="gallery-item" href="http://twitter.com" title="twitter.com" target="_blank" data-gallery>
				<div class="image">
					<img src="assets/links/twitter-logo1.png" />
				</div>
			</a>

			<a class="gallery-item" href="http://bigthink.com" title="bigthink.com" target="_blank" data-gallery>
				<div class="image">
					<img src="assets/links/bigthink1.png" />
				</div>
			</a>
			<a class="gallery-item" href="http://coursera.org" title="coursera.org" target="_blank" data-gallery>
				<div class="image">
					<img src="assets/links/coursera1.jpeg" />
				</div>
			</a>
			<a class="gallery-item" href="http://thefutureschannel.com" title="thefutureschannel.com" target="_blank" data-gallery>
				<div class="image">
					<img src="assets/links/tfc.jpeg" />
				</div>
			</a>

		</div>
	</div>

	<div class="col-md-8">
		<div class="row col-md-12 col-sm-12 col-lg-12" style="border-bottom: 1px solid dodgerblue; margin-bottom: 5px; padding-bottom: 10px">
			<div style="width: 100%; padding: 5px; text-align: center; font-weight: bolder; text-decoration: underline;"><h4><b>Lecturers</b></h4></div>
			<form class="form-inline" [formGroup]="searchForm" (submit)="searchItems()" role="form" novalidate>
				Search: <input type="text" name="searchTerm" formControlName="search" placeholder="search lecturer name"
							   class="form-control pull-right" (keydown)="searchItems()" />
			</form>

		</div>

		<table class="table table-striped table-border table-hover">
			<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Contact</th>
				<th>Office No</th>
				<th>Department</th>
				<th *ngIf="user!==null && user.is_admin">Action</th>
			</tr>
			</thead>
			<tbody>
			<tr *ngFor="let lecturer of lecturers">
				<td>{{ lecturer.first_name }} {{ lecturer.last_name }}</td>
				<td>{{ lecturer.email }}</td>
				<td>{{ lecturer.contact }}</td>
				<td>{{ lecturer.room_no }}</td>
				<td>{{ lecturer.department_name }}</td>
				<td *ngIf="user!==null && user.is_admin">
					<button (click)="editLecturer(lecturer)" class="btn btn-sm btn-rounded btn-success pull-left"><i class="fa fa-edit"></i></button>
					<button (click)="deleteLecturer(lecturer)" class="btn btn-rounded btn-sm btn-danger center-block"><i class="fa fa-trash-o"></i></button>
				</td>
			</tr>

			</tbody>
		</table>

	</div>
</div>
